body {
    padding-bottom: 20px;
    padding-top: 20px;
}
.navbar {
    margin-bottom: 20px;
}

#map {
    width: 49%;
    height: 450px;
   /* clear: both;*/
}

#board {
    width: 49%;
    margin-right: 2%;
    height: 450px;
    float: left;
    background-color:#E1E6F2;
}

.data {
    
}

#extra {
    clear: both;
}

.get_data button {
    margin: 2% 0 0 5%;

}

.green {
    background-color: #82BCA1;
}

svg {
    margin: 0 0 0 62%;

}