 <!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Open for Business</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
    <style>
      #map { height: 400px; }
    </style>
  </head>
<body>

  <div id='map'></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src='/static/js/map.js'>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  
</body>
</html>
